# Linear Regression without builtins

In [4]:
import numpy as np
import pandas as pd

In [5]:
df = pd.read_csv('test_scores.csv')
df

     name  math  cs
0   david    92  98
1   laura    56  68
2  sanjay    88  81
3     wei    70  80
4    jeff    80  83
5   aamir    49  52
6  venkat    65  66
7   virat    35  30
8  arthur    66  68
9    paul    67  73

In [6]:
x = np.array(df['math'])
x

array([92, 56, 88, 70, 80, 49, 65, 35, 66, 67])

In [7]:
y = np.array(df['cs'])
y

array([98, 68, 81, 80, 83, 52, 66, 30, 68, 73])

### Gradient descent function:

In [8]:
import math
m_curr = b_curr = 0
iterations = 1000000
n = len(x)
learning_rate = 0.0002
cost_previous = 0
for i in range(iterations):
    y_predicted = m_curr * x + b_curr
    m_derivative = -(2/n) * sum(x * (y - y_predicted))
    b_derivative = -(2/n) * sum(y - y_predicted)
    m_curr = m_curr - learning_rate * m_derivative
    b_curr = b_curr - learning_rate * b_derivative
    cost = (1/n) * sum([val ** 2 for val in (y - y_predicted)])
    if math.isclose(cost, cost_previous, rel_tol=1e-20):
        break
    cost_previous = cost
#    print(f'Iteration {i}:  m = {m_curr}  b = {b_curr}  cost = {cost}')

In [9]:
def Linear_Regression(x_value):
    y_value = m_curr * x_value + b_curr
    return y_value

In [10]:
x_value = int(input('Enter the marks in math: '))
y_value = Linear_Regression(x_value)
print(f'The predicted marks in \'cs\' is: {y_value} ~ {math.floor(y_value)}')

Enter the marks in math: 45
The predicted marks in 'cs' is: 47.71330011964905 ~ 47